<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>welcome email</title>
</head>
<body>
    <h1>{{heading}}</h1>
    <p>{{content}}</p>
    <ul>
        {{#each items}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>